@{
    ViewData["Title"] = "Subjects List";
}
@model University.Models.SubjectsViewModel

<form class="filter__form" asp-action="SearchSubjects" method="get">
    <div>
        <label>Название: </label>
        <input type="text" name="searchSubject" placeholder="Название предмета..." value="@Model.SearchSubject" />
        <input type="submit" value="Поиск" />
    </div>
</form>

<table>
    <caption>Предметы</caption>
    <thead>
        <td>Наименование</td>
        <td colspan="2">Действия</td>
    </thead>
    @if (Model.FilteredSubjects != null && Model.FilteredSubjects.Any())
    {
        @foreach (var subject in Model.FilteredSubjects)
        {
            <tr>
                <td>@subject.Name</td>
                <td><a href="#">Изменить</a></td>
                <td><a asp-action="DeleteSubject" asp-controller="Home" asp-route-SubjectID="@subject.Id">Удалить</a></td>
            </tr>
        }
    }
    else
    {
        <tfoot><td colspan="2">Результатов нет</td></tfoot>
    }
</table>
<div class="add__button_container">
    <button type="button" class="add__button">+Добавить предмет</button>
</div>


