@{
    ViewData["Title"] = "Subjects List";
}
@model IEnumerable<University.Models.Subject>
<table>
    <caption>Предметы</caption>
    <thead>
        <td>Наименование предмета</td>
    </thead>
    @foreach (var subject in Model)
    {
        <tr>
            <td>@subject.Name</td>
        </tr>
    }
</table>


