@{
    ViewData["Title"] = "Subjects List";
}
@model University.Models.SubjectsViewModel

<form asp-action="SearchSubjects" method="get">
    <div>
        <label>Название: </label>
        <input type="text" name="searchSubject" placeholder="Название предмета..." value="@Model.SearchSubject" />
        <input type="submit" value="Поиск" />
    </div>
</form>

<table>
    <caption>Предметы</caption>
    <thead>
        <td>Наименование предмета</td>
    </thead>
    @if (Model.FilteredSubjects != null && Model.FilteredSubjects.Any())
    {
        @foreach (var subject in Model.FilteredSubjects)
        {
            <tr>
                <td>@subject.Name</td>
            </tr>
        }
    }
    else
    {
        <tfoot><td colspan="1">Результатов нет</td></tfoot>
    }
</table>


