@{
    ViewData["Title"] = "Subjects List";
}
@model University.Models.SubjectsViewModel

<form class="filter__form" asp-action="SearchSubjects" method="get">
    <div>
        <label>Название: </label>
        <input type="text" name="searchSubject" placeholder="Название предмета..." value="@Model.SearchSubject" />
        <input type="submit" value="Поиск" />
    </div>
</form>

<table>
    <caption>Предметы</caption>
    <thead>
        <td>Наименование</td>
        <td colspan="2">Действия</td>
    </thead>
    @if (Model.FilteredSubjects != null && Model.FilteredSubjects.Any())
    {
        @foreach (var subject in Model.FilteredSubjects)
        {
            <tr>
                <td>@subject.Name</td>
                <td><a href="#">Изменить</a></td>
                <td><a asp-action="DeleteSubject" asp-controller="Home" asp-route-SubjectID="@subject.Id">Удалить</a></td>
            </tr>
        }
    }
    else
    {
        <tfoot><td colspan="2">Результатов нет</td></tfoot>
    }
</table>
<div class="add__button_container">
    <button type="button" id="add__button" class="add__button">+Добавить</button>
</div>

<div class="create__container" style="display: none;">
    <form class="create__form" action="CreateSubject" method="post">
        <p class="create__name">Название: </p>
        <input name="createName" placeholder="Название..." required>
        <input class="create__btn" type="submit" value="Создать предмет">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('form.create__form').submit(function (event) {

            // Выполняем проверку на сервере
            $.ajax({
                url: '/Home/VerifySubjectName',
                type: 'GET',
                data: { createName: $(this).find('input[name="createName"]').val() },
                async: false,
                success: (result)=>{
                    if (!result) {
                        // Имя не уникально, предотвращаем отправку формы
                        event.preventDefault();
                        alert('Название предмета должно быть уникальным.');
                    }
                }
            });
        });
    });
</script>
